.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.brand {
    width: 186px;
    height: 58px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation a {
    font-size: 16px;
    color: #fff;
}
.navigation a:not(:last-child) {
    margin-right: 40px;
    text-transform: capitalize;
}