* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Graphik;
    font-weight: 500;
    background-color: #181818;
    color: #fff;
    padding: 33px 67px 0;
}

a:link,
a:visited {
    text-decoration: none;
}